
<a href="#" class="startall-stopall">Stop All</a>
<div id="accounts">
    <div class="account">
        <img class="avatar" src="public/images/avatar.jpg" alt="">
        <div class="account-login">fcastro16@gmail.com</div>
        <div class="status">Status: farming game name</div>
        <div class="cards-left">Cards left: 8</div>
        <a href="#" class="start-stop">Stop</a>
        <a href="#" class="delete">Delete</a>
    </div>

    <div class="account">
        <img class="avatar" src="public/images/avatar.jpg" alt="">
        <div class="account-login">fcastro16@gmail.com</div>
        <div class="status">Status: farming game name</div>
        <div class="cards-left">Cards left: 8</div>
        <a href="#" class="start-stop">Stop</a>
        <a href="#" class="delete">Delete</a>
    </div>

    <div class="account">
        <img class="avatar" src="public/images/avatar.jpg" alt="">
        <div class="account-login">fcastro16@gmail.com</div>
        <div class="status">Status: farming game name</div>
        <div class="cards-left">Cards left: 8</div>
        <a href="#" class="start-stop">Stop</a>
        <a href="#" class="delete">Delete</a>
    </div>
    <span class="clear"></span>
</div>

<button id="add-account">Add Account</button>
