#body{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(26, 26, 187, 0.459);
    padding: 20px;
    border: solid 1px rgb(0, 89, 255);
    border-radius: 5px;
    margin-bottom: 25px;
}

.text-margin{
    margin-bottom: 5px;
}

#send-invite-form button{
    float: right;
    margin-top: 10px;
}

.block{
    display: block !important;
    width: 100%;
}

#user-list{
    width: 100%;
}

#user-list-header{
    width: 100%;
    padding: 5px;
    background: rgba(9, 9, 56, 0.644);
}

#user-list-header > span{
    text-align: center;
    display: inline-block;
}

#user-list-header-username{
    width: 110px;
}

#user-list-header-accounts{
    width: 70px;
}

.user-item{
    padding: 5px;
    background: rgba(26, 26, 187, 0.151);
    border-radius: 5px;
}

.user-item-username{
    text-align: center;
    display: inline-block;
    width: 110px;
}

.user-item-accounts{
    text-align: center;
    display: inline-block;
    width: 70px;
}

.user-item-loggedAccounts{
    text-align: center;
    display: inline-block;
    width: 93px;
}

.row-name{
    font-weight: bolder;
    font-size: 14px;
}