#body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#accounts-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 400px;
}

#body-spinner{
    height: 200px;
    width: 200px;
}

.account{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.nick{
    width: 100%;
    color: rgb(163, 192, 255); 
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 14px;
}

.avatar{
    height: 155px;
    width: 155px;
    margin-top: 5px;
}

.status{
    font-weight: bolder;
    margin-top: 5px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2.5px;
}

.info{
    text-align: center;
    width: 100%;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-value{
    color: rgb(204, 204, 204);
}

.buttons-box{
    margin-top: auto;
    background: rgba(0, 0, 0, 0.3);
    height: 100px;
    width: 100%;
    bottom: 0;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.account-Bad{
    background: linear-gradient(0deg, rgba(148, 0, 0, 0.6) 0%, rgba(54, 0, 0, 0.6) 100%);
    border: solid 3px rgb(134, 0, 0)
}

.account-Offline{
    background: linear-gradient(0deg, rgba(179, 179, 179, 0.5) 0%, rgba(75, 75, 75, 0.5) 100%);
    border: solid 3px rgb(192,192,192)
}

.account-Online, .account-Away, .account-Busy, .account-Invisible{
    background: linear-gradient(0deg, rgba(0, 116, 194, 0.6) 0%, rgba(0, 62, 104, 0.6) 100%);
    border: solid 3px rgb(0, 132, 255)
}

.account-Reconnecting{
    background: linear-gradient(0deg, rgba(179, 179, 179, 0.5) 0%, rgba(75, 75, 75, 0.5) 100%);
    border: solid 3px rgb(134, 0, 0)
}

.status-Away{
    color: rgb(255, 255, 0);
}

.status-Busy{
    color: rgb(211, 141, 11);
}

.status-Invisible, .status-Offline{
    color: rgb(192,192,192)
}

.status-Online{
    color: #57cbde;
}

.status-Bad, .status-Reconnecting{
    color: #ff0000;
}

.nick:hover{
    cursor: pointer;
    color: white;
}

.avatar-Online{
    border: solid 3px rgb(83,164,196);
}

.avatar-In-game{
    border: solid 3px rgb(143,185,59);
}

.avatar-Offline, .avatar-Reconnecting{
    border: solid 3px rgb(106,106,106)
}

.avatar-bad{
    border: solid 3px rgb(255, 0, 0)
}

#acc-buttons{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.btn-sm{
    font-size: 14px;
    margin: 2px;
    width: 100px;
    height: 20px;
    line-height: 0px;
}

/* SET STATUS MODAL */
#set-status-content{
    width: 250px;
    margin: 0 auto;
}

#set-status-form{
    font-size: 25px;
    line-height: 25px;
}

#set-status-form .form-check{
    margin: 10px;
}
/* END SET STATUS MODAL */


/* REDEEM CD-KEY MODAL */
#cd-key{
    text-transform: uppercase;
}
/* END REDEEM CD-KEY MODAL */



/* ADD ACCOUT MODAL */
input[name="emailGuard"] { 
    text-align: center;
    text-transform: uppercase;
}

#email-guard{
    width: 215px;
    text-align: center;
}
/* END ADD ACCOUT MODAL */



/* GAME IDLE MODAL */
.game-img{
    margin: 5px;
}

.games-dialog{
    min-width: 50%;
}

.games-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.unselected{
    border: none;
    filter: grayscale(100%);
}

.selected{
    border: solid 2px rgb(0, 255, 0);
    border-radius: 4px;
    padding: 5px;
}
/* END IDLE MODAL */




/* NO ACCOUNTS IN DASHBOARD */
#big-add-btn{
    display: block;
    width: 100%;
    margin: 20px;
    height: 500px;
    font-size: 50px;
}
/* END NO ACCOUNTS IN DASHBOARD */



.game-farming-info{
    border: solid 1px rgb(74, 106, 167);
    background: rgb(27, 46, 80);
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    font-size: 12px;
}

.game-title{
    font-size: 18px;
    font-weight: bolder;
}


#user-box{
    margin-left: auto;
}

#header-username{
    text-transform: uppercase;
    margin-right: 10px;
}

#settings-icon{
    display: inline;
    transition: transform .8s ease-in-out;
    margin-right: 10px;
} 

#settings-icon:hover{
    transform: rotate(360deg);
}

.dropdown-menu{
    background: linear-gradient(0deg, rgb(0, 51, 80) 0%, rgb(0, 89, 141) 100%);
    padding: 5px;
    color: white;
    border: solid 1px rgb(0, 153, 255);
    margin-top: 7px;
}

#dropdown-notice{
    text-align: center;
    background-color: rgb(1, 62, 97);
    margin: -5px;
    border-bottom: solid 1px rgb(0, 153, 255);
    margin-bottom: 5px;
}

#current-filter-txt{
    margin-left: 10px;
}

@media only screen and (max-width: 800px) {
    #logo{
        display: none;
    }

    #header, #footer{
        padding: 1px;
        font-size: 10px;
    }

    .header-btn{
        font-size: 10px;
        margin-right: 0px;
        padding:  2;
        height: 100%;
    }
    
    #header-username{
        margin-right: 0px;
    }
    
    #settings-icon{
        margin-right: 0px
    }

    .account{
        width: 300px;
    }

    .buttons-box{
        height: 130px;
    }

    .btn-sm{
        font-size: 18px;
        width: 135px;
        height: 28px;
    }

    #current-filter-txt{
        margin-left: 2px;
    }

    .modal{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .modal-content{
        margin-top: 30px;
    }

    .game-img{
        width: 100px;
    }

    .selected{
        padding: 2.5px;
    }

    #set-status-content{
        width: 100%;
        margin-top: 30px;
    }

}