#content-body{
    position: absolute;
    top: 54px;
    left: 178.5px;
    width: calc(100% - 178.5px);
    text-align:center !important;
    height: calc(100% - 54px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-body-spinner{
    height: 200px;
    width: 200px;
}

#accounts-container{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.account{
    margin: 0 15px 15px;
    display: inline-block;
    width: 230px;
    height: 370px;
    text-align: left;
}

.account-Bad{
    background: linear-gradient(0deg,  rgb(24, 0, 0) 0%, rgb(134, 0, 0) 100%);
    border: solid 2px rgb(134, 0, 0)
}

.account-Offline{
    background: linear-gradient(0deg, rgba(145, 145, 145, 0.8) 0%, rgb(53, 53, 53) 100%);
    border: solid 2px rgb(192,192,192)
}

.account-Online, .account-Away, .account-Busy, .account-Invisible{
    background: linear-gradient(0deg, rgba(0, 204, 255, 0.65) 0%, rgb(13, 38, 177) 100%);
    border: solid 2px rgb(26, 89, 131)
}

.account-Reconnecting{
    background: linear-gradient(0deg, rgba(145, 145, 145, 0.8) 0%, rgb(53, 53, 53) 100%);
    border: solid 2px rgb(134, 0, 0)
}

.status-Away{
    color: rgb(255, 255, 0);
}

.status-Busy{
    color: rgb(211, 141, 11);
}

.status-Invisible, .status-Offline{
    color: rgb(192,192,192)
}

.status-Online{
    color: #57cbde;
}

.status-Bad, .status-Reconnecting{
    color: #ff0000;
}

.nick{
    color: rgb(163, 192, 255); 
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    vertical-align: top
}

.nick:hover{
    cursor: pointer;
    color: white;
}

.avatar{
    height: 150px;
    width: 150px;
    display: block;
    margin:auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.avatar-Online{
    border: solid 3px rgb(83,164,196);
}

.avatar-In-game{
    border: solid 3px rgb(143,185,59);
}

.avatar-Offline, .avatar-Reconnecting{
    border: solid 3px rgb(106,106,106)
}

.avatar-bad{
    border: solid 3px rgb(255, 0, 0)
}

.status{
    font-weight: bolder;
}


.info{
    font-size: 12px;
    line-height: 20px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.account-buttons{
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    height: 100px;
    vertical-align: bottom;
    padding: 2px;
}

.btn-sm{
    height: 20px;
    line-height: 0px;
    margin: 2 10px;
    padding: 1px;
    width: 80px;
    font-size: 12px;
}



/* SET STATUS MODAL */

#set-status-dialog, #set-status-content{
    width: 250px;
    margin: 20px auto;
    padding: 5px;
}

/* END SET STATUS MODAL */



/* REDEEM CD-KEY MODAL */

#cd-key{
    text-transform: uppercase;
}

/* END REDEEM CD-KEY MODAL */



/* ADD ACCOUT MODAL */

input[name="emailGuard"] { 
    text-align: center;
    text-transform: uppercase;
}


#email-guard{
    width: 215px;
    text-align: center;
}

/* END ADD ACCOUT MODAL */



/* IDLE MODAL */

.game-img{
    margin: 5px;
}

.games-idle{
    margin-top: 10px;
}

.games-dialog, .games-content{
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}

.unselected{
    border: none;
    opacity: 0.25;
}

.selected{
    border: solid 2px rgb(0, 255, 0);
    border-radius: 4px;
    padding: 5px;
}

/* END IDLE MODAL */






/* NO ACCOUNTS IN DASHBOARD */

#big-add-acc-button{
    width: 100%;
    line-height: 500px;
    height: 500px;
    font-size: 50px;
}

/* END NO ACCOUNTS IN DASHBOARD */





.game-farming-info{
    border: solid 1px rgb(74, 106, 167);
    background: rgb(27, 46, 80);
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    font-size: 12px;
}

.game-title{
    font-size: 18px;
    font-weight: bolder;
}



/* HEADER */
#header{
    z-index: 1;
    height: 54px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgb(0, 89, 141) 0%, rgb(0, 51, 80) 100%);
}


#user-info{
    height: 100%;
    float: left;
    margin: 5px 0 0 5px;
}

#greet{

}

#settings-icon{
    height: 25px;
    margin-left: 5px;
    transition: transform .8s ease-in-out;
} 

#settings-icon:hover{
    transform: rotate(360deg);
}

#user-logout{
    width: 50px;
}

#user-logout:hover{
    color: white;
    text-decoration: none;
}

#filter-dropdown-box{
    margin-top: 8px;
    margin-left: 32px;
    float: left;
}

#filters-dropdown-btn{
    font-size: 15px;
    border: solid 2px rgb(3, 20, 51);
    background: linear-gradient(0deg, rgb(0, 30, 53) 0%,rgb(0, 50, 90) 100%);
    border-radius: 0 !important;
    color: rgb(163, 192, 255); 
}

.dropdown-menu{
    background: linear-gradient(0deg, rgb(0, 51, 80) 0%, rgb(0, 89, 141) 100%);
    padding: none;
}

.filter-btn{
    padding: none;
    font-size: 14px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    color: rgb(163, 192, 255);
    padding: 5px;
    padding-left: 15px;
}

.filter-btn:hover{
    text-decoration: none !important;
    color: white;
}

#current-filter-txt{
    margin-top: 15px;
    margin-left: 10px;
    float: left;
}







/* SIDEBAR */
#sidebar{
    z-index: 1;
    width: 180px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 54px;
    background: linear-gradient(0deg, rgb(0, 51, 80) 0%, rgb(0, 89, 141) 100%);
}

.sidebar-button{
    display: block;
    width: 100%;
    color: rgb(163, 192, 255); 
    font-size: 13px;
}

.sidebar-button:hover, #sidebar-addacc{
    border: solid 2px rgb(3, 20, 51);
    background: linear-gradient(0deg, rgb(0, 30, 53) 0%,rgb(0, 50, 90) 100%);
    border-radius: 0 !important;
    color: white;
}

#sidebar-addacc{
    font-size: 15px;
    margin: 25px 0px;
    border: solid 2px rgb(3, 20, 51);
    background: linear-gradient(0deg, rgb(0, 30, 53) 0%,rgb(0, 50, 90) 100%);
    border-radius: 0 !important;
    color: rgb(163, 192, 255); 
}

#sidebar-addacc:hover{
    border: solid 2px rgb(3, 20, 51);
    background: linear-gradient(0deg, rgb(0, 50, 88) 0%,rgb(0, 32, 58) 100%);
    color: white;
}

.separator-text{
    text-align: center;
    font-size: 16px;
    border-bottom: 2px solid rgb(255, 255, 255);
}