#body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#accounts-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 400px;
}

.account{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: auto;
    margin: 10px;
    border-radius: 5px;
    font-size: 12px;
}

.persona-name{
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 14px;
}


.avatar-box{
    background: blue;
    margin: 5px 0;
}

.acc-dropdown-btn{
    position: absolute;
    background: none;
    margin-left: -40px;
    border: rgb(0, 137, 250) solid 1px;
    border-radius: 2px;
    color: rgb(0, 137, 250);
}

.acc-dropdown-menu{
    font-size: 12px;
    background:  rgba(0, 89, 141, 0.856) !important;
}

.avatar{
    height: 155px;
    width: 155px;
}

.status{
    font-weight: bolder;
    padding: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 2.5px;
}

.info{
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info-value{
    color: rgb(204, 204, 204);
}

.buttons-box{
    margin-top: auto;
    background: rgba(0, 0, 0, 0.3);
    height: 100px;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.console{
    margin-top: auto;
    background: rgba(0, 0, 0, 0.5);
    height: 100px;
    width: 100%;
    bottom: 0;
    font-family: Consolas,monaco,monospace;
    font-size: 12px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2px;
    white-space: pre-line
}

.console p{
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: -15px;
}

.account-Bad{
    background: linear-gradient(0deg, rgba(148, 0, 0, 0.6) 0%, rgba(54, 0, 0, 0.6) 100%);
    border: solid 3px rgb(134, 0, 0)
}

.account-bad:hover{
    border: solid 3px rgb(177, 0, 0);
    box-shadow: 0px 0px 8px 2px rgba(177, 0, 0, 0.75);
}

.account-Offline{
    background: linear-gradient(0deg, rgba(179, 179, 179, 0.5) 0%, rgba(75, 75, 75, 0.5) 100%);
    border: solid 3px rgb(192,192,192)
}

.account-Offline:hover{
    border: solid 3px rgb(216, 216, 216);
    box-shadow: 0px 0px 8px 2px rgba(216, 216, 216, 0.75);
}

.account-Online, .account-Away, .account-Busy, .account-Invisible{
    background: linear-gradient(0deg, rgba(0, 116, 194, 0.6) 0%, rgba(0, 62, 104, 0.6) 100%);
    border: solid 3px rgb(0, 132, 255)
}

.account-online:hover, .account-Away:hover, .account-Busy:hover, .account-Invisible:hover{
    border: solid 3px rgb(85, 173, 255);
    box-shadow: 0px 0px 8px 2px rgba(85, 173, 255, 0.75);
}

.account-Reconnecting{
    background: linear-gradient(0deg, rgba(179, 179, 179, 0.5) 0%, rgba(75, 75, 75, 0.5) 100%);
    border: solid 3px rgb(134, 0, 0)
}

.account-Reconnecting:hover{
    border: solid 3px rgb(177, 0, 0);
    box-shadow: 0px 0px 8px 2px rgba(177, 0, 0, 0.75);
}


.status-Away{
    color: rgb(255, 255, 0);
}

.status-Busy{
    color: rgb(211, 141, 11);
}

.status-Invisible, .status-Offline{
    color: rgb(192,192,192)
}

.status-Online{
    color: #57cbde;
}

.status-Bad, .status-Reconnecting{
    color: #ff0000;
}

.nick:hover{
    cursor: pointer;
    color: white;
}

.avatar-Online{
    border: solid 3px rgb(83,164,196);
}

.avatar-In-game{
    border: solid 3px rgb(143,185,59);
}

.avatar-Offline, .avatar-Reconnecting{
    border: solid 3px rgb(106,106,106)
}

.avatar-bad{
    border: solid 3px rgb(255, 0, 0)
}

.acc-buttons{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.btn-sm{
    font-size: 14px;
    margin: 2px;
    width: 100px;
    height: 20px;
    line-height: 0px;
}


/* SET STATUS MODAL */
#set-status-content{
    width: 250px;
    margin: 0 auto;
}

#set-status-form{
    font-size: 25px;
    line-height: 25px;
}

#set-status-form .form-check{
    margin: 10px;
}
/* END SET STATUS MODAL */


/* REDEEM CD-KEY MODAL */
#cd-key{
    text-transform: uppercase;
}
/* END REDEEM CD-KEY MODAL */



/* ADD ACCOUT MODAL */
input[name="emailGuard"] { 
    text-align: center;
    text-transform: uppercase;
}

#email-guard{
    width: 220px;
    text-align: center;
}

.add-acc-dialog{
    min-width: 520px;
}

#add-steamaccount-form{
    margin: 0 auto;
}

#add-acc-console{
    font-size: 14px;
    padding: 5px;
}


::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

#email-guard-btn{
    margin-left: 20px;
}

/* END ADD ACCOUT MODAL */


/* GAME IDLE MODAL */
.game-img{
    margin: 5px;
}

.games-dialog{
    min-width: 50%;
}

.games-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.unselected{
    border: none;
    filter: grayscale(100%);
}

.selected{
    border: solid 2px rgb(0, 255, 0);
    border-radius: 4px;
    padding: 5px;
}
/* END IDLE MODAL */




/* NO ACCOUNTS IN DASHBOARD */
#big-add-btn{
    display: block;
    width: 100%;
    margin: 20px;
    height: 500px;
    font-size: 50px;
}
/* END NO ACCOUNTS IN DASHBOARD */



.game-farming-info{
    border: solid 1px rgb(74, 106, 167);
    background: rgb(27, 46, 80);
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    font-size: 12px;
}

.game-title{
    font-size: 18px;
    font-weight: bolder;
}

#change-avatar-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
}




/* HEADER  */
#dashboard-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

#dashboard-header-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-userbox{
    margin-left: 100px;
}

#header-username{
    text-transform: uppercase;
    margin-right: 2.5px;
}

#settings-icon{
    transition: transform .8s ease-in-out;
} 

#settings-icon:hover{
    transform: rotate(360deg);
}

.dropdown-menu{
    background: linear-gradient(0deg, rgb(0, 51, 80) 0%, rgb(0, 89, 141) 100%);
    padding: 5px;
    color: white;
    border: solid 1px rgb(0, 153, 255);
    margin-top: 7px;
}

#dropdown-notice{
    text-align: center;
    background-color: rgb(1, 62, 97);
    margin: -5px;
    border-bottom: solid 1px rgb(0, 153, 255);
    margin-bottom: 5px;
}

#current-filter-txt{
    margin-left: 10px;
}

#all-acc-actions-spinner{
    margin: 0 2.5px;
}
/* END HEADER */



@media only screen and (max-width: 800px) {
    #header{
        padding-top: 2px;
        flex-direction: column;
        font-size: 8px;
    }

    #dashboard-header{
        justify-content: space-around;
    }

    #header-userbox{
        margin-left: 0;
    }

    #current-filter-txt{
        margin-left: 2.5px;
    }


    .modal{
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }

    .modal-content{
        margin-top: 30px;
    }

    .game-img{
        width: 100px;
    }

    .selected{
        padding: 2.5px;
    }

    .add-acc-dialog{
        min-width: 95%;
    }

    #set-status-content{
        width: 100%;
        margin-top: 30px;
    }
}