

#login-form, #register-form, #change-password, #recover-form{
    width: 550px;
    padding: 20px;
    background-color: rgb(12, 45, 71);
    margin:80px auto;
    overflow: auto;
    box-shadow: 5px 5px 19px 0px rgba(0,0,0,0.8);
}

.input-group-text{
    width: 115px !important;
}

#signin-button, #register-button{
    width: 200px;
}