

#signin-button, #register-button, #recover-button, #changepass-button{
    width: 150px;
}




@media (max-width: 500px) {
    #signin-button, #register-button, #recover-button, #changepass-button{ 
        width: 100%;
    }

    #features{
        width: 100%;
    }

    .feature-col{
        width: 50%;
    }

    .feature-item{
        height: 100px;
        padding: 3px;
        font-size: 17px;
    }

    #signin-button, #register-button, #recover-button, #changepass-button{
        width: 160px;
    }
}