body{
    background: linear-gradient(to bottom, rgb(3, 23, 39) 0%, rgb(0, 54, 85) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    color:#EFEFEF;
    font-size: 14px;
}

a{
    display:block;
    color: rgb(163, 192, 255); 
}


/*  MODAL CSS */

.modal{
    background-color: rgba(12, 65, 109, 0.089);
}

.modal-header{
    padding: 5px;
}

.modal-content{
    margin-top: 29px !important; 
    background: rgba(14, 30, 51, 1);
    border: solid 4px rgb(74, 106, 167);
    border-radius: 10px;
    padding: 10px !important;
}

.modal-buttons{
    margin-top: 10px;
    float:right;
}

.modal-submit{
    width: 115px;
}

input{
    background: rgba(74, 106, 167, .8) !important;
    color: white !important;
    letter-spacing: 2px;
}

.input-group-text{
    width: auto !important;
}

/*  END MODAL CSS */

.spinner-border{
    margin: 10px 0px;
}