<link rel="stylesheet" type="text/css" href="../static/css/admin.css">
<script src="../static/js/admin.js"></script>

<div id="body">

    <div class="row">
        <span>
            <div class="text-margin">Proxies: {{{proxyCount}}}</div>
            <button type="button" class="btn btn-primary" id="renew-proxies">Renew Proxies</button>
        </span>
        <span>
            <div class="text-margin">SteamCMS: {{{steamcmsCount}}}</div>
            <button type="button" class="btn btn-primary" id="renew-steamcms">Renew SteamCMS</button>
        </span>
    </div>

    <div class="row">
        <div class="block text-margin">Send Invite</div>
        <form id="send-invite-form" class="block">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input type="email" name="email" class="form-control" required>
            </div>
            <button type="submit" id="invite-btn" class="btn btn-primary">Send invite</button>
        </form>
    </div>

    <div class="row">
        <div class="row-name">User List</div>
        <div id="user-list">
            <div id="user-list-header">
                <span id="user-list-header-username">username</span>
                <span id="user-list-header-accounts">Accounts</span>
                <span>Logged Accounts</span>
            </div>
        </div>
    </div>

</div>