<link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">

<script src="../static/js/dashboard/functions.js"></script>
<script src="../static/js/dashboard/actions.js"></script>
<script src="../static/js/dashboard/fetch-accounts.js"></script>
<script src="../static/js/dashboard/account-refresher.js"></script>

<!-- container -->
<div>
    <div id="sidebar">

        <div id="sidebar-greet">Hello {{{username}}}</div>


        <div id="sidebar-menu">
            <div id="sidebar-button" data-toggle="modal" data-target="#add-acc-modal" type="button">Add Account
            </div>

            <div class="separator-text">All Accounts Actions</div>
            <div id="sidebar-button" type="button">Connect</div>
            <div id="sidebar-button" type="button">Disconnect</div>
            <div id="sidebar-button" type="button">Farm All Cards</div>
            <div id="sidebar-button" type="button">Stop Farming</div>
            <div id="sidebar-button" type="button">Activate Free Game</div>
        </div>
    </div>

    <div id="content-body"></div>
</div>

<!-- Add account Modal -->
<div class="modal fade" id="add-acc-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Steam Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-primary" role="alert" id="add-acc-msg" hidden></div>
                <div class="alert alert-danger" role="alert" id="add-acc-errMsg" hidden></div>

                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-info" id="spinner" role="status" hidden></div>
                </div>

                <form id="add-steamaccount-form">
                    <div class="form-group" id="username">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Username</span>
                            </div>
                            <input type="text" name="user" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group" id="password">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Password</span>
                            </div>
                            <input type="password" name="pass" class="form-control" required>
                        </div>
                    </div>

                    <div class="form-group" id="shared-secret">
                        Needed for accounts with 2FA
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Shared Secret</span>
                            </div>
                            <input type="password" name="sharedSecret" class="form-control">
                        </div>
                    </div>



                    <div class="form-group" id="email-guard" hidden>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Email Guard</span>
                            </div>
                            <input type="text" name="emailGuard" class="form-control" minlength="5" maxlength="5">
                        </div>
                    </div>

                    <div class="modal-buttons">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="add-account">Add account</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<!-- ACTIVATE FREE APP MODAL -->
<div class="modal fade" id="activate-free-game-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Activate Free Games</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary" role="alert" id="activate-game-msg" hidden></div>
                <div class="alert alert-danger" role="alert" id="activate-game-errMsg" hidden></div>

                <!-- activated games will be displayed here -->
                <div id="activated-games" hidden>
                    <div class="game-body"></div>
                    <button type="button" class="btn btn-secondary activate-free-game-close float-right"
                        data-dismiss="modal">Close</button>
                </div>
                <form id="activate-game-form">
                    <p>Example to activate two games: 730, 570 </p>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">AppID</span>
                            </div>
                            <input type="text" name="appId" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-buttons">
                        <button type="button" class="btn btn-secondary activate-free-game-close"
                            data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="activate-free-game"
                            data-id="">Activate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- REDEEM KEY -->
<div class="modal fade" id="redeem-key-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Redeem CD-KEY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-primary" role="alert" id="redeem-key-msg" hidden></div>
                <div class="alert alert-danger" role="alert" id="redeem-key-errMsg" hidden></div>

                <!-- activated games will be displayed here -->
                <div class="activated-games" hidden>
                    <div class="game-body"></div>
                    <button type="button" class="btn btn-secondary redeem-key-close float-right"
                        data-dismiss="modal">Close</button>
                </div>
                <form id="redeem-key-form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">CD-KEY</span>
                            </div>
                            <input type="text" name="cdkey" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-buttons">
                        <button type="button" class="btn btn-secondary redeem-key-close"
                            data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" id="redeem-key"
                            data-id="">Activate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>