<link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">

<script src="../static/js/dashboard/globals.js"></script>
<script src="../static/js/dashboard/functions.js"></script>
<script src="../static/js/dashboard/build-accounts.js"></script>
<script src="../static/js/dashboard/refresher.js"></script>
<script src="../static/js/dashboard/single-acc-actions.js"></script>
<script src="../static/js/dashboard/all-acc-actions.js"></script>
<script src="../static/js/dashboard/filters.js"></script>

<!-- container -->
<div id="body">
    <div class="spinner-border text-primary" id="body-spinner" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div id="accounts-box"></div>

    <!-- Add account Modal -->
    <div class="modal fade" id="add-acc-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog add-acc-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Steam Account</h5>
                </div>
                <div class="modal-body">

                    <div class="alert alert-warning" id="add-acc-warning-msg" role="alert" hidden>
                        This process may take a while, please be patient.
                    </div>
                    <div class="alert alert-success" id="add-acc-success-msg" role="alert" hidden>
                        Account added successfullly.
                    </div>
                    <div class="alert alert-danger" id="add-acc-error-msg" role="alert" hidden></div>

                    <div class="alert console" id="add-acc-console" hidden></div>

                    <form id="add-steamaccount-form">
                        <div class="form-group" id="username">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Username</span>
                                </div>
                                <input type="text" name="user" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group" id="password">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Password</span>
                                </div>
                                <input type="password" name="pass" class="form-control" required
                                    autocomplete="new-password">
                            </div>
                        </div>

                        <div class="form-group" id="shared-secret">
                            Needed for accounts with 2FA (leave blank for email guard)
                            <a href="https://bit.ly/2ZcDNX2">Learn more here</a>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Shared Secret</span>
                                </div>
                                <input autocomplete="new-password" type="password" name="sharedSecret"
                                    class="form-control" placeholder="looks like this: CThopgCf3+3av5xwWVzeycfIPyQ=">
                            </div>
                        </div>

                        <div class="modal-buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary modal-submit" id="add-account">Add
                                account</button>
                        </div>
                    </form>

                    <form id="email-guard-form" hidden>
                        <div class="form-group d-inline-block" id="email-guard">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email Guard</span>
                                </div>
                                <input type="text" name="emailGuard" class="form-control" minlength="5" maxlength="5">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary modal-submit d-inline-block"
                            id="email-guard-btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- ACTIVATE FREE APP MODAL -->
    <div class="modal fade" id="activate-free-game-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Activate Free Games</h5>
                </div>
                <div class="modal-body">

                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-info" id="spinner-activate-game" role="status" hidden></div>
                    </div>

                    <div class="alert alert-primary" role="alert" id="activate-game-msg" hidden></div>
                    <div class="alert alert-danger" role="alert" id="activate-game-errMsg" hidden></div>

                    <!-- activated games will be displayed here -->
                    <div class="activated-games" hidden>
                        <div class="activated-game-body"></div>
                        <button type="button" class="btn btn-secondary float-right" data-dismiss="modal">Close</button>
                    </div>

                    <form id="activate-game-form">
                        <p>Example to activate two games: 730, 570 </p>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">AppID</span>
                                </div>
                                <input type="text" name="appId" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary modal-submit" id="activate-free-game"
                                data-id="">Activate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- REDEEM KEY -->
    <div class="modal fade" id="redeem-key-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Redeem CD-KEY</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-primary" role="alert" id="redeem-key-msg" hidden></div>
                    <div class="alert alert-danger" role="alert" id="redeem-key-errMsg" hidden></div>


                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-info" id="spinner-redeem-key" role="status" hidden></div>
                    </div>

                    <!-- activated games will be displayed here -->
                    <div class="activated-games" hidden>
                        <div class="activated-game-body"></div>
                        <button type="button" class="btn btn-secondary redeem-key-close float-right"
                            data-dismiss="modal">Close</button>
                    </div>
                    <form id="redeem-key-form">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">CD-KEY</span>
                                </div>
                                <input type="text" name="cdkey" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-buttons">
                            <button type="button" class="btn btn-secondary redeem-key-close"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary modal-submit" id="redeem-key"
                                data-id="">Activate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- CHANGE NICK -->
    <div class="modal fade" id="change-nick-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Nickname</h5>
                </div>
                <div class="modal-body">
                    <form id="change-nick-form">
                        <div class="form-group" id="nick">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Nick</span>
                                </div>
                                <input type="text" name="nick" maxlength="32" class="form-control" required>
                            </div>
                        </div>
                        <div class="modal-buttons">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary modal-submit" id="change-nick-button"
                                data-id="">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- SET STATUS -->
    <div class="modal fade" id="set-status-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" id="set-status-dialog" role="document">
            <div class="modal-content" id="set-status-content">
                <div class="modal-header">
                    <h5 class="modal-title">Set status</h5>
                </div>
                <div class="modal-body">
                    <form id="set-status-form">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="status1" value="Invisible">
                            <label class="form-check-label" for="status1">
                                Invisible
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="status2" value="Online">
                            <label class="form-check-label" for="status2">
                                Online
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="status3" value="Away">
                            <label class="form-check-label" for="status3">
                                Away
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="status" id="status4" value="Busy">
                            <label class="form-check-label" for="status4">
                                Busy
                            </label>
                        </div>

                        <div class="modal-buttons">
                            <button type="button" id="set-status-modal-close" class="btn btn-secondary"
                                data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary modal-submit" id="set-status-button"
                                data-id="">Set</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>



    <!-- UPLOAD AVATAR -->
    <div class="modal fade" id="change-avatar-modal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Avatar</h5>
                </div>
                <div class="modal-body">
                    <div id="change-avatar-spinner" hidden>
                        <div class="spinner-border text-primary"></div>
                    </div>
                    <form id="change-avatar-form">
                        <div class="form-group d-inline-block">
                            <label for="avatar-file">Select an image of type jpg, png, or gif</label>
                            <input type="file" accept="image/*" name="avatar" class="form-control-file" id="avatar-file"
                                required>
                        </div>
                        <img src="http://placehold.it/150x150" id="avatar-preview" alt="avatar" height="150" width="150"
                            class="d-inline-block">
                        <div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary modal-submit" id="change-avatar-btn"
                                data-id="">Upload</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>