<link rel="stylesheet" type="text/css" href="../static/css/login-register.css">
<script src="../static/js/login-register.js"></script>

<!-- Login form -->
<form id="login-form">
    <p>Login</p>
    <div class="text-success">{{{message}}}</div>
    <div class="alert alert-danger" hidden></div>
    <div class="form-group" id="form-account">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Username</span>
            </div>
            <input type="text" name="username" class="form-control" required>
        </div>
    </div>

    <div class="form-group" id="form-account">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" name="password" class="form-control" required>
        </div>
    </div>
    <div class="login-page-buttons">
        <button type="button" class="btn btn-secondary" id="show-register">Register</button>
        <button type="submit" class="btn btn-primary" id="signin-button">Sign in</button>
    </div>
    <span class="clear"></span>
</form>

<!-- Register form -->
<form id="register-form" hidden>
    <p>Register</p>
    <div class="alert alert-success" hidden></div>
    <div class="alert alert-danger" hidden></div>
    <div id="register-inputs-box">
        <div class="form-group" id="form-account">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Username</span>
                </div>
                <input type="text" name="username" class="form-control" required>
            </div>
        </div>

        <div class="form-group" id="form-account">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Password</span>
                </div>
                <input type="password" name="password" class="form-control" required>
            </div>
        </div>

        <div class="form-group" id="form-account">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Email</span>
                </div>
                <input type="email" name="email" class="form-control" required>
            </div>
        </div>

        <div class="form-group" id="form-account">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Invite Code</span>
                </div>
                <input type="text" name="invitecode" class="form-control" value="{{{invite}}}" required>
            </div>
        </div>

        <div class="form-group" id="form-account">
            <div class="input-group">
                <div class="text-warning">
                    For security reasons, you will not be able to change this URL.
                    <a href="https://steamcommunity.com/id/me/tradeoffers/privacy" target="_blank" class="text-success">
                        Get it here</a>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">Trade URL</span>
                </div>
                <input type="text" name="tradeurl" class="form-control" required>
            </div>
        </div>
        <div class="login-page-buttons">
            <button type="submit" class="btn btn-primary" id="register-button">Register</button>
        </div>
    </div>
</form>