<link rel="stylesheet" type="text/css" href="../static/css/login-register.css">
<script src="../static/js/login-register.js"></script>

<!-- Login form -->
<form id="login-form">
    <p>Login</p>
    <p id="login-error"></p>
    <div class="form-group" id="form-account">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Username</span>
            </div>
            <input type="text" name="username" class="form-control" required>
        </div>
    </div>

    <div class="form-group" id="form-account">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" name="password" class="form-control" required>
        </div>
    </div>
    <div class="login-page-buttons">
        <button type="button" class="btn btn-secondary" id="show-register">Register</button>
        <button type="submit" class="btn btn-primary" id="signin-button">Sign in</button>
    </div>
    <span class="clear"></span>
</form>

<!-- Register form -->
<form id="register-form" hidden>
    <p>Register</p>
    <p id="register-error"></p>
    <div class="form-group" id="form-account">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Username</span>
            </div>
            <input type="text" name="username" class="form-control" required>
        </div>
    </div>

    <div class="form-group" id="form-account">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Password</span>
            </div>
            <input type="password" name="password" class="form-control" required>
        </div>
    </div>

    <div class="form-group" id="form-account">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Inv. Code</span>
            </div>
            <input type="password" name="invcode" class="form-control" required>
        </div>
    </div>
    <div class="login-page-buttons">
        <button type="submit" class="btn btn-primary" id="register-button">Register</button>
    </div>
</form>