<div id="dashboard-header">
    <span class="dropdown">
        <span id="header-username">{{{username}}}</span>
        <img class="icon icon-img" data-toggle="dropdown" src="{{path}}/static/images/icon-settings.png" alt="settings"
            id="settings-icon">
        <div class="dropdown-menu">
            <a href="/logout" class="">Logout</a>
            <a href="#" id="tradeurl-btn">Trade URL</a>
            <a href="#">Invites: 0</a>
        </div>
    </span>
</div>