<div id="header-buttons">
    <button type="button" class="btn btn-primary header-btn" id="register-btn">Register</button>
    <button type="button" class="btn btn-primary header-btn" id="login-btn">Login</button>
</div>